
.ex {
    width: 900px;  
}

.ex h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1;
}

.ex-items {
    display: flex;
    jutify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    margin: 40px;
    padding: 40px;
    width: 770px;
    gap: 50px;
    border-radius: 10px;
    border: 1px solid yellow;
    box-shadow: var(--box-shadow);  
    text-align: center;  
}

.left .img {
    width: 40px;
    height: 40px;
}

.ex-items .right {
    display: flex;
    flex-direction: column;
}
.right h2 {
    color: yellow;
    font-size: 2rem;
}

.right h4 {
    font-size: 1.5rem;    
}

.right h5 {
    color: yellow;
}

